{% extends 'base.html' %}

{% block title %}RheumActive - Home{% endblock %}

{% block head %}
    <style>
        .icon-ruler, .icon-history {
            width: 1em;
            height: 1em;
            vertical-align: -0.125em;
            fill: currentColor;
            margin-right: 0.5em;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="text-center">
        <h1 class="display-3 fw-bold text-primary">RheumActive</h1>
        <p class="lead text-light">Your personal joint mobility measurement tool.</p>
        <div class="d-grid gap-3 col-6 mx-auto mt-5">
            <a href="/measure" class="btn btn-primary btn-lg" role="button">
                <svg class="icon-ruler" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M22 16V2L2 8l20 14V8l-20 14L2 8l20-6zM12 12v6"></path></svg>
                Measure Mobility
            </a>
            <a href="/history" class="btn btn-primary btn-lg" role="button">
                <svg class="icon-history" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M12 8v4l3 3m6-3a9 9 0 1 1-9-9 9 9 0 0 1 9 9z"></path></svg>
                View History
            </a>
        </div>
    </div>
{% endblock %}
